* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

nav {
  margin-bottom: 50px;
}

ul {
  padding: 0px;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
  font: 600 20px Verdana;
}

a {
  text-decoration: none;
}

.content {
  display: block;
  text-align: center;
}

.chart-content {
  margin-bottom: 20px;
}

select {
  font-size: 18px;
}

.years {
  margin-right: 20px;
}

.inner {
  min-height: calc(100vh - 80px);
}

footer {
  display: block;
  text-align: center;
}